// $textDark:black;
// $textLight:#f4f4f4;
// $bgColor: #f4f4f4;
// $primaryColor: #0e6cff;
// $secondaryColor: #ff8700;
// $tertiaryColor: #3d9840;
// $bgHero: #640fc5;


$setColors: (
    textDark:black,
    textLight:#f4f4f4,
    bgColor: #f4f4f4,
    primaryColor: #0e6cff,
    secondaryColor: #ff8700,
    tertiaryColor: #3d9840,
    bgHero: #640fc5,
)






